<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/cards.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            <div class="logo__icono">
                <img src="../storage/img/luna.png">
            </div>
            <div class="logo__titulo">BUDGET WALLET</div>
        </div>
        <div class="header__menu">
            <i class='bx bxs-castle' ></i>
        </div>
    </header>
    <main class="main">
        
        <h3 class="main__title">investing tips</h3>
        <section class="main__banner">
            <div class="banner__public">
                <div class="public__logo">
                    <div>1</div>
                    <img src="../storage/img/s1.png">
                </div>
                <div class="public__description">
                    <div class="description__close">
                        <i class="bx bx-x"></i>
                    </div>
                    <p>What is Blochain</p>
                    <small>By Santiago .M, PHD</small>
                    <button>learn more</button>
                </div>
            </div>
        </section>
        <h3 class="main__title2">cards (4)</h3>
        <section class="main__cards">
            <article class="cards__item">
                <small>*** 6175</small>
                <h2><sub>$</sub>47,417</h2>
                <img src="../storage/img/visa.svg">
            </article>
            <article class="cards__item">
                <small>*** 6175</small>
                <h2><sub>$</sub>47,417</h2>
                <img src="../storage/img/masterCard.svg">
            </article>
            <article class="cards__item">
                <small>*** 6175</small>
                <h2><sub>$</sub>47,417</h2>
                <img src="../storage/img/visa.svg">
            </article>
            <article class="cards__item">
                <small>*** 6175</small>
                <h2><sub>$</sub>47,417</h2>
                <img src="../storage/img/masterCard.svg">
            </article>
        </section>
    </main>
    <footer class="footer">
        <ul>
            <li>
                <a href="#"><img src="../storage/img/iconHouse.svg"></a>
            </li>
            <li>
                <a href="balance.html"><img src="../storage/img/iconBook.svg"></a>
            </li>
            <li>
                <a href="cards.html"><img src="../storage/img/iconMulti.svg"></a>
            </li>
            <li>
                <a href="#"><img src="../storage/img/iconBell.svg"></a>
            </li>
            <li>
                <a href="../index.html"><img src="../storage/img/iconPer.svg"></a>
            </li>
        </ul>
    </footer>
</body>
</html>
